@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 25px;
}

@layer components{
    .btn-primary{
        @apply bg-blue-500 text-white rounded px-5 py-3;
    }
    .pannel{
        @apply border border-black;
    }
    .pannel-title{
        @apply bg-blue-600 py-5 px-4 text-2xl text-white;
    }
}